@page
@model GestorAplicaciones.Pages.Show.ShowAppsModel
@{
}

<br />
<h2>Aplicaciones</h2>
<br />

@*TABLE TO SHOW THE INFORMATION FROM THE SQL TABLE*@
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Numero de Patente</th>
                <th>Nombre de Aplicacion</th>
                <th>Descripcion</th>
                <th>tipo</th>
                <th>Fecha de Produccion</th>
                <th>Fecha de Expiracion de Licencia</th>
                <th>Codigo de Departamento</th>
                <th>Accion</th>
            </tr>
        </thead>

        <tbody>
            @*CREATE THE TABLES ROWS AND ASSIGN THEM THE INFORMATION FROM THE DB*@
            @foreach (var item in Model.listApps)
            {
                <tr>
                    <td>@item.codigo</td>
                    <td>@item.numPatente</td>
                    <td>@item.nombre</td>
                    <td>@item.descripcion</td>
                    <td>@item.tipo</td>
                    <td>@item.fechaProduccion</td>
                    <td>@item.fechaExpiraLicencia</td>
                    <td>@item.codigoDepartamento</td>

                    @*ADD A BUTTON TO DELETE THAT APP FROM THE BD*@
                    <td>
                        <a class="btn btn-outline-danger" href="/Delete/DeleteApp?code=@item.codigo">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>