@page
@model GestorAplicaciones.Pages.Add.AddProjectModel
@{
}

<br />
<h2>Crear Proyecto</h2>
<br />

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-desmissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
    </div>
}

<form method="post">
    <div class="mb-3">
        <label for="pro-id" class="form-label">ID del Proyecto:</label>
        <input type="text" class="form-control" id="pro-id" name="pro-id" value="@Model.proInfo.id">
    </div>

    <div class="mb-3">
        <label for="pro-name" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="pro-name" name="pro-name" value="@Model.proInfo.nombre">
    </div>

    <div class="mb-3">
        <label for="pro-desc" class="form-label">Descripcion:</label>
        <textarea class="form-control" id="pro-desc" rows="3" name="pro-desc" value="@Model.proInfo.descripcion"></textarea>
    </div>

    <div class="mb-3">
        <label for="pro-start-date" class="form-label">Fecha de Inicio:</label>
        <input type="text" class="form-control" id="pro-start-date" name="pro-start-date" value="@Model.proInfo.fechaInicio" placeholder="AAAA-MM-DD">
    </div>

    <div class="mb-3">
        <label for="pro-end-date" class="form-label">Fecha de Finalizacion:</label>
        <input type="text" class="form-control" id="pro-end-date" name="pro-end-date" value="@Model.proInfo.fechaFinalizacion" placeholder="AAAA-MM-DD">
    </div>

    <div class="mb-3">
        <label for="pro-est-effort" class="form-label">Esfuerzo Estimado:</label>
        <input type="text" class="form-control" id="pro-est-effort" name="pro-est-effort" value="@Model.proInfo.esfuerzoEstimado">
    </div>

    <div class="mb-3">
        <label for="pro-real-effort" class="form-label">Esfuerzo Real:</label>
        <input type="text" class="form-control" id="pro-real-effort" name="pro-real-effort" value="@Model.proInfo.esfuerzoReal">
    </div>

    <div class="mb-3">
        <label for="pro-error" class="form-label">Error a Corregir:</label>
        <select class="form-select" id="pro-error" name="pro-error">
            <option selected> </option>
            @foreach (var item in Model.listErrors)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="alert alert-success alert-desmissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
        </div>
    }

    <button type="submit" class="btn btn-outline-secondary">Agregar</button>
</form>