@page
@model GestorAplicaciones.Pages.Show.ShowProjectsModel
@{
}

<br />
<h2>Proyectos</h2>
<br />

@*TABLE TO SHOW THE INFORMATION FROM THE SQL TABLE*@
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID de Proyecto</th>
                <th>Nombre de Proyecto</th>
                <th>Descripcion del Proyecto</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Finalizacion</th>
                <th>Esfuerzo Estimado</th>
                <th>Esfuerzo Real</th>
                <th>ID del Error</th>
                <th>Descripcion del Error</th>
                <th>Fecha del Error</th>
                <th>Hora del Error</th>
                <th>Impacto</th>
                <th>Serie del Servidor</th>
                <th>Codigo de Aplicacion</th>
                <th>Cedula de Empleado</th>
                <th>Nombre del Empleado</th>
                <th>Rol del Empleado</th>
                <th>Accion</th>
            </tr>
        </thead>

        <tbody>
            @*CREATE THE TABLES ROWS AND ASSIGN THEM THE INFORMATION FROM THE DB*@
            @foreach (var item in Model.listProjects)
            {
                <tr>
                    <td>@item.idPro</td>
                    <td>@item.nombrePro</td>
                    <td>@item.descripcionPro</td>
                    <td>@item.fechaInicio</td>
                    <td>@item.fechaFinalizacion</td>
                    <td>@item.esfuerzoEstimado</td>
                    <td>@item.esfuerzoReal</td>
                    <td>@item.idError</td>
                    <td>@item.descripcionError</td>
                    <td>@item.fechaError</td>
                    <td>@item.horaError</td>
                    <td>@item.impacto</td>
                    <td>@item.serieServidor</td>
                    <td>@item.codigoApp</td>
                    <td>@item.cedulaEmpleado</td>
                    <td>@item.nombreEmpleado</td>
                    <td>@item.rol</td>

                    @*ADD A BUTTON TO DELETE THAT EMPLOYEE FROM THAT PROJECT*@
                    <td>
                        <a class="btn btn-outline-danger" href="/Delete/DeleteEmployee?empId=@item.cedulaEmpleado&proId=@item.idPro">Remover Integrante</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>