@page
@model GestorAplicaciones.Pages.Add.AddDepartmentModel
@{
}

<br />
<h2>Crear Departamento</h2>
<br />

@*IN CASE THERE IS AN ERROR, IT WILL BE VISIBLE ON THE PAGE FOR THE USER TO KNOW*@
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-desmissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
    </div>
}

@*FORM TO GET THE USER INPUT TO UPDATE THE DATABASE*@
<form method="post">
    <div class="mb-3">
        <label for="dept-code" class="form-label">Codigo del Departamento:</label>
        <input type="text" class="form-control" id="dept-code" name="dept-code" value="@Model.deptInfo.codigo">
    </div>

    <div class="mb-3">
        <label for="dept-name" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="dept-name" name="dept-name" value="@Model.deptInfo.nombre">
    </div>

    <div class="mb-3">
        <label for="dept-boss" class="form-label">Cedula del Encargado:</label>
        <input type="text" class="form-control" id="dept-boss" name="dept-boss" value="@Model.deptInfo.cedulaJefe">
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="alert alert-success alert-desmissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
        </div>
    }

    <button type="submit" class="btn btn-outline-secondary">Agregar</button>
</form>